<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{title}}</title>
    {% endif %}
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome {{name}}, here are top destinations!</h1>
    <a href="https://www.google.com">goooogle</a>
    <ul>
    {% for city in top_cities %}
      <li>{{city.city_name}}</li>
    {% endfor %}
    </ul>
    <form method="POST" novalidate>
      {{ form.hidden_tag() }}
        <p>
            {{ form.city_name.label }} <br>
            {{ form.city_name(size=32) }}
        </p>
        <p>
            {{ form.city_rank.label }} <br>
            {{ form.city_rank(size=32) }}
        </p>
        <p>
            {{ form.is_visited.label }} <br>
            {{ form.is_visited() }}
        </p>
        <p>
            {{ form.submit.label }} <br>
            {{ form.submit() }}
        </p>
    </form>
  </body>
</html>
